nav {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.9);
}
body {

    margin: 0;
    padding: 0;
}
.navbar-toggler {
    background: url("../img/icons/bars-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: invert(100%);
}
.navbar-toggler:hover {
    filter: invert(90%);
}



.inner-image {
    width: 100%;
    padding: 50px;
}
.preview-card {
    padding: 20px;
}



.picker {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.picker > div {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.picker-btn {
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #F2F2F2;
    outline: rgba(0, 0, 0, 0.1) 1px solid;
    outline-offset: -1px;
    transition: 0.2s;
}
.picker-btn:focus {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    outline: none;
}
.picker-btn:hover {
    background-color: #f5c82596;
    transition: 0.2s;
}

.picker-btn-active {
    background-color: #F5C725;
    transition: 0.2s;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}
.picker-btn-active:hover {
    background-color: #F5C725;
}
.picker-data {
    
    position: absolute;
    height: 100%;
    background-color: #F5C725;
    padding: 10px 10px 10px 0;
    opacity: 0;
    transition: 0.5s;
}
.picker-data-active {
    display: block;
    opacity: 1;
    transition: 0.5s;
}
.picker-data p{
padding-left: 10px;
height: 100%;
box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}


.color-darkgray {
    color:rgb(46, 46, 46);
}
.color-white {
    color: #F2F2F2;
}
.color-theme {
    color: #F2BB13;
}
.color-theme-second {
    color: #A811A8;
}
.color-black {
    color: black;
}
.bgcolor-white {
    background-color: #F2F2F2;
}
.bgcolor-black {
    background-color: black;
}
@media (min-width: 1000px) {
   
    .lg-px-50 {
        padding: 0 50px 0 50px;
    }


}


@media (max-width: 1000px) {
   
    .picker-data {
    
        position: relative;
        padding:0;
 
    }

}






