@media (min-width: 1220px) { 

@keyframes header-in {
    0%{margin-top: -101vh;}
    50%{margin-top:-101vh}
    100%{margin-top: 0;}
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
/* Сделать жс переход, пхп не хочу */
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.mobile {
    display: none;
}
header {
    background: url("img/header.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.header-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.75);
    animation: header-in 2s;
}
.header-top {
    padding: 25px;
    background: linear-gradient(black,rgba(0,0,0,0));
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: xx-large;
}
.logo-yellow {
    color: rgb(255, 217, 0);
}
.logo-desc {
    font-size: large;
    margin-left: 4px;
    align-self: start;
}
.header-social {
    align-items: center;
    justify-content: center;
}
.discord {
    display: flex;
    align-items: center;
    color: white;
    font-size: x-large;
    padding: 10px 20px;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.5);
    border-radius: 30px;
}
.discord img{
    margin-right: 5px;
    height: 30px;
    filter: invert(100%);
    
}
.discord:hover {
    color: white;
    text-decoration: none;
    border-radius: 0;
    box-shadow: 0 0 0;
    background: rgba(255,255,255,0.3);
    transition: 0.3s;
}

.logo-img {
    height: 300px;
    position: absolute;
    animation-name: rotation;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 0.1s;
    cursor: pointer;
}
.logo-img:active {
    height: 305px;
    transition: 0.2s;
    animation-duration: 1s;
   
}

.header-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 100px;
    padding-left: 100px;
}
.header-menu-left {
    display: flex;

    align-items: center;
    width: 45%;
}

.header-menu-left-text {
    display: flex;
    flex-direction: column;
}
.header-menu-left-a {
    font-size: 30px;
    line-height: 22px;
    color: white;
    margin: 10px 0 10px 150px;
    border-bottom: wheat 4px solid;
    background: rgba(255,255,255,0.3);
    padding: 10px 20px 0 160px;
    transition: 0.3s;
    border-bottom: rgba(255, 255, 255, 0.37) 4px solid;
}
.header-menu-left-a:hover {
    text-decoration: none;
    color: rgb(47, 47, 47);
    transition: 0.2s;
    padding: 20px 20px 10px 160px;
    margin: 0 0 0 150px;
    background: rgba(255, 255, 255, 0.92);
    border-bottom: rgba(255, 217, 0.8) 4px solid;
}
.header-menu-left-a-center:hover {
    text-decoration: none;
    color: rgb(47, 47, 47);
    transition: 0.2s;
    padding: 20px 20px 10px 190px;
    margin: 0 0 0 150px;
    background: rgba(255, 255, 255, 0.92);
    border-bottom: rgba(255, 217, 0.8) 4px solid;
}
.header-menu-left-a:hover span, .header-menu-left-a-center:hover span{
    color: rgb(47, 47, 47);
}
.header-menu-left-a span, .header-menu-left-a-center span {
    font-size: 15px;
    color: rgb(255, 217, 0);
}
.header-menu-left-a-center {
    transition: 0.3s;
    font-size: 30px;
    line-height: 22px;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.37) 4px solid;
    background: rgba(255,255,255,0.3);
    padding: 10px 20px 0px 190px;
    margin: 10px 0 10px 150px;

}

.header-menu-right {
 width: 45%;
}
h2 {
    font-size: xx-large;
}
html {
    background: black;
}
.levels {
    padding-top: 80px;
    background: linear-gradient(black,rgb(22, 22, 22),rgb(22, 22, 22),rgb(22, 22, 22),rgb(22, 22, 22),rgb(22, 22, 22));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.level {
    width: 1000px;
    padding: 20px;
    margin: 20px;
    background: rgb(46, 46, 46);
    color: white;
}
.level:hover {
    text-decoration: none;
    color: white;
}


.level-desc{
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    padding: 20px;
    height: 200px;
    background: rgb(46, 46, 46);
    width: 1000px;
    right: -1100px;
}
.level:hover .level-desc {
    opacity: 1;
    transition: 0.5s;
    
    right: auto;
}
.level:hover {
    margin-bottom: 200px;
}
h2 {
    background: black;
    padding: 25px;
    box-shadow: 0 3px 4px rgba(255, 217,0, 0.3);
}



.arrow {
    position: relative;
    width: 24px;
    height: 24px;
    padding-bottom: 75px;
    }
     
    .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 6s ease-out infinite;
    }
     
    .chevron:first-child {
    animation: move 6s ease-out 1s infinite;
    }
     
    .chevron:nth-child(2) {
    animation: move 6s ease-out 2s infinite;
    }
     
    .chevron:before,
    .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
    }
     
    .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
    }
     
    .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
    }
     
    @keyframes move {
    25% {
    opacity: 1;
    }
    33% {
    opacity: 1;
    transform: translateY(30px);
    }
    67% {
    opacity: 1;
    transform: translateY(40px);
    }
    100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
    }
     
    .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
    }
     
    @keyframes pulse {
    to {
    opacity: 1;
    }
    }


}

@media (max-width: 1219px) {
    * {
        font-size: 0;
          
    }
    body {
        display: block;
        height: 100vh;
        width: 100%;
        background: url("img/header.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
    }
    .mobile {
        margin-top: 20%;
        padding: 20px;
        opacity: 1;
        display: block;
        color: white;
        font-size: xx-large;
    }
    
} 